extends ../layout

block head
    script(src=host+'/js/server.js' type='text/javascript')

block content
    div.container.mt-4
        div.row.justify-content-center
            div.col-md-8
                div.row.justify-content-center
                    h1 #{server.name}
                div.row.justify-content-center
                    h4 #{server.ip}
                if (server.role === "owner")
                    div.row.justify-content-center
                        button#showServerTokenButton.btn.btn-primary.btn-sm(type="button") Show Server Token
                        span#serverToken #{server.token}
                div.row.justify-content-center.mt-4
                    table.table.table-striped.table-hover.border
                        thead.thead-dark
                            tr
                                th(scope='col') Username
                                th(scope='col') UUID
                                th(scope='col') Status
                        tbody#playerTableBody
                            each player in server.players
                                tr(id=player.uuid, class=(player.status ? 'bg-success' : (player.banned == null ? 'bg-warning' : 'bg-danger')))
                                    td #{player.username}
                                    td #{player.uuid}
                                    if player.status == 1
                                        td Online
                                    else
                                        td Offline

